<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>原生Ajax请求 接收json数据</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .box {
      width: 350px;
      height: 200px;
      border: 1px solid #eee;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #result {
      width: 100%;
      height: 150px;
    }
  </style>
</head>
<body>
  <div class="box">
    <button id="btn">点击发送请求Get</button>
    <div id="result"></div>
  </div>
  <div class="box" id="post-box">
    <div id="result-post">鼠标移上发送请求Post</div>
  </div>
  <script>

    const result = document.getElementById('result')
    const initData = (res) => {
      result.innerHTML = res.name
    }
    
    const resultPost = document.getElementById('result-post')
    const initPostData = (res) => {
      resultPost.innerHTML = res.name
    }

    // get请求
    const btn = document.getElementById('btn')
    btn.addEventListener('click', () => {
      // 1. 创建对象
      const xhr = new XMLHttpRequest()
      // 2. 初始化，设置请求的方法和url
      xhr.open('GET', 'http://127.0.0.1:8867/json?a=1&b=2&c=3')
      // 3.发送
      xhr.send()
      // 4.事件绑定 处理服务端返回结果
      // on when 当……时
      // readystate xhr对象中的属性，表示状态：0 表示未初始化  1 open方法调用完毕 2 send方法已经调用完毕 3 服务端返回部分结果 4 服务端返回了所有结果
      // change 改变
      xhr.onreadystatechange = () => {
        // 判断 服务端返回所有结果时
        if (xhr.readyState === 4) {
          // 判断 响应状态码 200 403 404 401 500
          if (xhr.status >= 200 && xhr.status < 300) {
            // 处理结果 行 头 空行 体
            console.log(xhr.status) // 响应状态码
            console.log(xhr.statusText) // 响应状态字符串
            console.log(xhr.getAllResponseHeaders()) // 所有响应头
            console.log(xhr.response) // 响应体

            // 手动转换数据
            let data = JSON.parse(xhr.response)
            initData(data)
          } else {
            console.error(xhr)
          }
        }
      }
    })

    // post请求
    const box = document.getElementById('post-box')
    const clearData = () => {
      resultPost.innerHTML = '鼠标移上发送请求Post'
    }
    box.addEventListener('mouseenter', () => {
      // 1. 创建对象
      const xhr = new XMLHttpRequest()

      // 设置响应体类型(主动转换响应体类型)
      xhr.responseType = 'json'

      // 2. 初始化，设置请求的方法和url
      xhr.open('POST', 'http://127.0.0.1:8867/json')

      // 设置请求头
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
      xhr.setRequestHeader('name', 'admin')

      // 3.发送
      xhr.send('a=1&b=2&c=3') // post请求参数设置
      // 4.事件绑定 处理服务端返回结果
      // on when 当……时
      // readystate xhr对象中的属性，表示状态：0 表示未初始化  1 open方法调用完毕 2 send方法已经调用完毕 3 服务端返回部分结果 4 服务端返回了所有结果
      // change 改变
      xhr.onreadystatechange = () => {
        // 判断 服务端返回所有结果时
        if (xhr.readyState === 4) {
          // 判断 响应状态码 200 403 404 401 500
          if (xhr.status >= 200 && xhr.status < 300) {
            // 处理结果 行 头 空行 体
            // console.log(xhr.status) // 响应状态码
            // console.log(xhr.statusText) // 响应状态字符串
            // console.log(xhr.getAllResponseHeaders()) // 所有响应头
            // console.log(xhr.response) // 响应体

            // 手动转换数据
            // let data = JSON.parse(xhr.response)
            // 自动转换数据 xhr。
            initPostData(xhr.response)
          } else {
            console.error(xhr)
          }
        }
      }
    })
    box.addEventListener('mouseout', () => {
      clearData()
    })

    
  </script>
</body>
</html>